@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Prata&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@100..900&family=Prata&family=Young+Serif&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f3e5d8 ;
    min-height: 1080px;
    font-family: 'outfit',sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;
}
img{
    max-width: 100%;
    display: block;
}
h1, h2{
    font-family: 'Young Serif', serif;
    font-weight: 800;
}
h3 {
    color: #592d43;
 }
h1{
    color: #201f1f ;
    font-size: 44px;
}
h2{
    color:#744B3D ;
    margin-bottom: 16px;
}
.ing{
    margin: 16px 0;
}

 ul{
    padding: 20px;
 }
 ul li::marker{
    color: #201f1f;
    font-weight: bold;
 }
 ul li {
    margin-bottom: 8px;
 }
 ul li span{
    color: #645452;
    margin-left: 16px;
    font-weight: 700;
 }
 hr{
    margin: 24px;
    border: 1px solid gray;
 }
 .Topline{
     max-width: 800px;
     background-color: whitesmoke;
     margin: 32px;
     border-radius: 16px;
 }
 .Topline .im{
    padding: 32px;
    border-radius: 16px;
 }
 .Topline .im img{
    border-radius: 16px;
 }
 .info{
    padding: 0 32px 32px 32px;
 }
 .read{
    margin: 24px 0;
 }
 .cook{
    background-color: #FFEDE7;
    padding: 20px;
    border-radius: 16px;
 }
.ing ul li::marker {
    color: #e39d86
}

.step{
     padding-left:8px;
     margin-bottom: 8px;
     display: flex;
}
.ins .step .note{
    color: #e39d86;
    margin-right: 16px;
    font-weight: 600;
}
.ins .step p span{
    font-weight: 600;
}

.include li{
    margin-bottom: 8px;
}
.include li span{
    font-weight: 700;
}
.nuin{
    margin-top: 16px;
}
.include .nuin{
    margin-bottom: 16px;
}
.table .ta{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e4e4e4;
}
.pers{
   color: green;
   font-weight: 600;
}
